<?php
/**
 * @var $block \M21\GoogleTagManager\Block\GtmBody
 */
?>
<?php
if ($block->isEnable()) {
    ?>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=<?= $block->gtmId() ?>" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
<?php
}
?>